{% extends 'base.html' %}

{% load static %}

{% block title %} Login {% endblock %}

{% block body %}

<!-- ======= Login Section ======= -->
<div class="container login-wrapper">
  <div class="login-card">
    <!-- Form Side -->
    <div class="form-side">
      <h2 class="form-title text-center">Welcome Back</h2>
      {% if form.errors %}
        <p>
          Your username and password didn't match.
          Please try again.
        </p>
      {% else %}
        <p>
          Please use the following form to login:
        </p>
      {% endif %}
      <div class="login-form">
        <form method="POST" action="{% url 'login' %}">
          {{ form.as_p }}
          {% csrf_token %}
          <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" checked>
            <label class="form-check-label" for="rememberMe">Remember me</label>
          </div>
          <div class="text-end mb-3">
            <a href="#">Forgot password?</a>
          </div>
          <button type="submit" class="btn btn-blue-green" value="Login">Login</button> -->
          <input type="hidden" name="next" value="{{ next }}" />
          <p><input type="submit" value="Log-in"></p>
        </form>
      </div>
    </div>

    <!-- Logo Side -->
    <div class="image-side">
      <img src="{% static 'assets/img/Lifecare-Connect-Homecare-Logo-1.jpg' %}" alt="Lifecare Connect Logo">
    </div>
  </div>
</div>

{% endblock %}