{% extends 'base.html' %}

{% load static %}

{% block title %}Change Your Password {% endblock %}

{% block body %}
<div class="container login-wrapper">
    <div class="login-card">
      <!-- Form Side -->
      <div class="form-side">
        <h2 class="form-title text-center">Change Your Password</h2>
        <div class="login-form">
          <form method="POST">
            {{ form.as_p }}
            <p><input type="submit" value="Change"></p>
            {% csrf_token %}
          </form>
        </div>
      </div>
  
      <!-- Logo Side -->
      <div class="image-side">
        <img src="{% static 'assets/img/Lifecare-Connect-Homecare-Logo-1.jpg' %}" alt="Lifecare Connect Logo">
      </div>
    </div>
  </div>
{% endblock %}